{% extends "base.html" %}

{% block title %}Students{% endblock %}


{% block content %}
<h2>Students</h2>

<form action="{{url_for('student_redirect')}}" method="get">
    <label for="student">Select a student:</label>
    <select name="student" id="student" onchange="this.form.submit()">
        <option value="" selected disabled>Select a student</option>
        {% for student in students %}
            <option value="{{ student.neptun }}">{{ student.name }}</option>
        {% endfor %}
    </select>
</form>

{% endblock %}