
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll



# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.filters
*.user
*.log
*.pdb
*.idb
*.tlog
*.ilk
SZE/OODB/kyberszittya/Rec3/Recitation3/.vs/Recitation3/v15/.suo
SZE/OODB/kyberszittya/Rec3/Recitation3/.vs/Recitation3/v15/Browse.VC.db
SZE/OODB/kyberszittya/Rec3/Recitation3/.vs/Recitation3/v15/Browse.VC.opendb
SZE/OODB/kyberszittya/Rec3/Recitation3/.vs/Recitation3/v15/ipch/720e8647fbac6ed7.ipch
SZE/OODB/kyberszittya/Rec3/Recitation3/.vs/Recitation3/v15/ipch/AutoPCH/6bfa9ec59ac6f7db/LINKEDLIST.ipch
SZE/OODB/kyberszittya/Rec3/Recitation3/.vs/Recitation3/v15/ipch/AutoPCH/abb60791adcf511b/LABIRINTUS.ipch
SZE/OODB/kyberszittya/Rec3/Recitation3/.vs/Recitation3/v15/ipch/AutoPCH/cdab13bb4a56a2ec/UNIT.ipch
SZE/OODB/kyberszittya/Rec3/Recitation3/.vs/Recitation3/v15/ipch/AutoPCH/cea2f45df4cc64ab/SPHERECALCULATION.ipch
SZE/OODB/kyberszittya/Rec3/Recitation3/.vs/Recitation3/v15/ipch/AutoPCH/dee12e2fe46a3cab/BOOKOPERATOROVERLOADING.ipch
SZE/OODB/kyberszittya/Rec3/Recitation3/.vs/Recitation3/v15/ipch/AutoPCH/e7590d024f13c469/MAIN.ipch
SZE/OODB/kyberszittya/Rec3/Recitation3/.vs/Recitation3/v15/ipch/f1b21f5d4784671e.ipch
SZE/OODB/kyberszittya/Rec3/Recitation3/.vs/Recitation3/v15/Solution.VC.db
SZE/OODB/kyberszittya/Rec3/Recitation3/.vs/Recitation3/v15/Solution.VC.db-shm
SZE/OODB/kyberszittya/Rec3/Recitation3/.vs/Recitation3/v15/Solution.VC.db-wal
